In [1]:
import os
os.chdir(os.path.join('..', '..', '..'))
print(os.getcwd())

/Users/eharkin/Documents/projects/5HTGIF

In [2]:
import pandas as pd
from scipy import stats

from grr.Tools import stripNan

In [3]:
ser_df = pd.read_csv(os.path.join('data', 'processed', '5HT', 'current_steps_gain.csv'))
som_df = pd.read_csv(os.path.join('data', 'processed', 'GABA', 'current_steps_gain.csv'))

In [4]:
ser_df

        gain   rheobase
0   0.074977   8.766868
1   0.037190  54.663452
2   0.085683  60.045643
3   0.042441  64.524641
4   0.106712  16.735346
5   0.039304  59.471666
6   0.044860  44.279461
7   0.051668   8.477907
8   0.052506  50.878105
9   0.030544  30.874911
10  0.073380   0.511339
11  0.049064  11.563511
12  0.036683  50.991914
13  0.034894  32.528779
14  0.025223  14.484321
15  0.067748  25.816700
16  0.035285  39.880741

In [5]:
som_df

        gain   rheobase
0        NaN   0.508996
1        NaN  -4.507909
2   0.080639   0.505605
3        NaN -12.489766
4   0.156894  46.084441
5        NaN  15.714457
6   0.218902  20.592707
7   0.036083   7.604364
8   0.282292  22.696015
9   0.075049   4.613148
10       NaN   7.578162
11  0.122145  22.777334
12       NaN  30.939522
13       NaN  -4.153042

In [6]:
stats.mannwhitneyu(ser_df['gain'], stripNan(som_df['gain']), alternative='two-sided')

MannwhitneyuResult(statistic=17.0, pvalue=0.0076429063839584055)

In [7]:
stats.mannwhitneyu(ser_df['rheobase'], stripNan(som_df['rheobase']), alternative='two-sided')

MannwhitneyuResult(statistic=193.0, pvalue=0.0035282206147545796)